################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/demonetcore3.1/v17/.suo
/.vs/eShopSolution/v17/.suo
